.Font_Text_Sobre_HM{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 1em;
    line-height: 27px;
    color: black;
}

.Text_Sobre_HM{
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    top:57px;
}


.Part01_Text_Sobre{
    padding-left: 10px;
    padding-right: 10px;
}

.Part02_Text_Sobre{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.Part03_Text_Sobre{
    padding-left: 10px;
    padding-right: 10px;
}