.barra_final{
    top:255px;
    position: relative;
    background-color: rgb(182, 51, 54);
    height: 10px;
    width: 100%;
}

@media screen and (max-width:1752px){
    .barra_final{
        top: 255px;
    }
}

@media screen and (max-width:1490px){
    .barra_final{
        top:315px;
    }
}

@media screen and (max-width:1449px){
    .barra_final{
        top:375px;
    }
}

@media screen and (max-width:1236px){
    .barra_final{
        top:420px;
    }
}

.Fale_cons{
    position: relative;
    transform: rotate(180deg);
    height: 10;
    width: 15%;
    border-bottom: 50px solid #2D0708;;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
   
    top:10px;
    /*Sobre ponha elementos*/
    z-index: 1;
    /* Centalizar elementos*/
    margin: 0 auto;
}

.Font_Fale{
    position: absolute;
    transform: rotate(180deg);
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400px;
        font-size: 1em;
        line-height: 27px;
        right: 50%;
}

.Fale{
    display: inline-block;
    position: relative;
    right: 20%;
    color: white;
    top:5px;
}

.Conosco{
    position: relative;
    right:45%;
    color:rgb(212,237,55);
    top:-3px;
}

.Font_Final{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 1.17em;
    line-height: 27px;
    color:white;
    height: 0px;
}

.Container_Verm{
position: relative;
top:255px;
}

.Verm_Esq{
    display: inline-block;
    position: absolute;
    background-color: rgba(203, 54, 58, 1);
    width: 50%;
    height: 300px;
    
}

.Verm_Dir{
    display: inline-block;
    position: absolute;
    background-color: rgba(176, 43, 47, 1);
    width:50%;
    height: 300px;
    right:0px;
}

/* === Telefone ===*/
.Container_Tel_Desk{
    position: relative;
    text-align: center;
    top:90px;
}

.Tel_Icon_Final {
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white;
    left: 40px;
    top: 3px;
}

.T_45_F{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white;
    font-size: 0.7em;
    left: 63px;
    bottom: 1px;
}


.T_99_F{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white;    
    left: 64px;
}

.Container_Tel_Desk:hover .T_99_F {
color:rgb(87, 187, 87)
}
.Container_Tel_Desk:hover .T_45_F {
    color:rgb(87, 187, 87)
}
.Container_Tel_Desk:hover .Tel_Icon_Final {
    color:rgb(87, 187, 87)
}

/*Whatsapp*/

.Container_Wts_Desk:hover .Whatsapp_Icon_Final{
    color:green;
}
.Container_Wts_Desk:hover .W_45_F{
    color:green;
}
.Container_Wts_Desk:hover .W_99_F{
    color:green;
}

.Container_Wts_Desk{
    position: relative;
    text-align: center;
    top:110px;
}

.Whatsapp_Icon_Final{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
    left: 40px;
    top:3px;
}


.W_45_F{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 0.7em;
    color:white; 
    left: 63px;
}

.W_99_F{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white; 
    left: 64px;
}



.W_Houver{
    color: white;
}

.W_Houver:hover{
    color: rgb(212,237,55);
}


/*==== Email ==== */
.Container_Email_Desk{
    position: relative;
    text-align: center;
    top:130px;
}

.Container_Email_Desk:hover  .e-mail_Icon{
    color:rgb(66,133,244)
}
.Container_Email_Desk:hover  .e-mail_text{
    color:rgb(66,133,244)
}

.e-mail_Icon{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white;
    left: 107px;
    top: 4px;
}

.e-mail_text{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    text-decoration: none;
    color:white;
    left: 132px;
}

/*=== Mercado === */ 
.Container_ML_Desk{
    position: relative;
    text-align: center;
    top:130px;
}

.Text_mercado:hover{
    color: rgb(212,237,55);
}

.Text_mercado{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    top:2px;
    color:white;
    text-decoration: none;
    left: 55px;
}

.Mercado_Icon{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    color:white;
    top: 12px;
    left: 36px;
}

/* === Fim verm === */

.Agrad_Border{
    position: relative;
    height: 35px;
    width: 100%;
    top: 555px;
    background-color: rgb( 0, 0, 1);
}

.text_agrad{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 1.1em;
    line-height: 27px;
    color:white;
    position: relative;
    top:3px;
    text-align: center;
}

/*=== COPOR FINAL ===*/

@media screen and (max-width:1752px){
    .Container_Verm{
        top: 255px;
    }
    .Agrad_Border{
        top:555px;
    }
}

@media screen and (max-width:1490px){
    .Container_Verm{
        top: 315px;
    }
    .Agrad_Border{
        top:615px;
    }
}

@media screen and (max-width:1449px){
    .Container_Verm{
        top: 375px;
    }
    .Agrad_Border{
        top:675px;
    }
}

@media screen and (max-width:1236px){
    .Container_Verm{
        top: 420px;
    }

   
}

@media screen and (max-width:1236px){


    .Agrad_Border{
        top:720px;
    }
}