.Font_Text_Sob_HM{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 1em;
    line-height: 27px;
    color: black;
}

.Text_Sobre_HM{
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 29px;
}
.Text_Sob{
    font-size: 1.1em;
}

.Btn_Telefone{
    background: rgb(105, 105, 141);
    width: 100px;
    height:40px;
    border: 3px solid black;
}