.Display_Desktop_Catalogo{
    position: relative;
    top: 260px;
    width: 85%;
    height: auto;
    margin-bottom:  80px;
    margin-left:auto;
    margin-right:  auto;
    padding: 40px;
}

.Voltar_Catalogo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 1.01em;
    line-height: 27px;
    color: black; 

}

.Voltar_Catalogo{
    display: block;
    position: relative;
    top:480px;

    border: 0px;
    background:rgba(203, 54, 58, 1);
    color: white;
    border-radius: 10px;

    height: 30px;
    width: 350px;
    margin: 0 auto;

    cursor: pointer;
    left: 43px;
}

.Voltar_Catalogo:hover{
    background:rgb(153, 41, 44);
}